/* font-family: 'Roboto',sans-serif;
font-family: 'Lato',sans-serif; */


/* ***********************************************************************
 *                              LAYOUT
  *************************************************************************/
body, body * {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.footer {
    font-size: 0.8rem;
    position: fixed;
    text-align: center;
    width: 100%;
    border-top: 1px solid #CCC;
    padding: 1rem;
    bottom: 0;
    background: #EEE;
}

/* ***********************************************************************
 *                              TYPO
*************************************************************************/
h1 {
    font-size: 2rem;
    padding: 1rem;
}



/* ***********************************************************************
 *                              US LIST
  *************************************************************************/
li.wrapper-each-us {
    border-bottom: 1px solid #CCC;
    list-style-type: none;
}

ul.inner-us {
    list-style-type: none;
    padding: 1rem 2rem;
    margin: 1rem 0;
    display: table-cell;
}

ul.inner-us li.us-fragment {

}
ul.inner-us li.us-fragment.comments {
    color: #AAA;
    padding: 1rem 0;
}

span.id-us {
    display: table-cell;
    width: 5rem;
    padding: 0 2rem;
    font-size: 1.05rem;
    color: #666;
}





/* ***********************************************************************
 *                              RM
  *************************************************************************/
ul.rm-list {
    margin-left: 10rem;
    border-top: 1px solid #EEE;
    padding: 1rem;
}

li.wrapper-each-rm {

}


